.produtos h1 {
    text-align: center;
}
.produtos p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
}
  
.card img {
    max-width: 100%;
    height: auto;
}
  
.card h2 {
    font-size: 24px;
    margin-top: 20px;
}
  
.card p {
    font-size: 16px;
    margin-top: 10px;
}
  
.card button {
    background-color: #003559;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 20px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.card button:hover {
    background-color: #003559;
}
  
/* Media queries para dispositivos móveis */
  
@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .card {
      flex-basis: 100%;
    }
}
  